html, body {
  margin: 0;
  height: 100%;
}

.App {
  text-align: center;
}

.App-logo {
  height: 5vmin;
  pointer-events: none;
  position: absolute;
  left: 2em;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.App-header,
.footer {
  /* background: #00022e; */
  background-color: rgb(37, 63, 100);
  height: 60px;
  color: #ff92b3;
  top: 60px;
}


.title {
  position: absolute;
  top: -36px;
  left: 2em;
  font-size: 40px;
  /* font-family: 'Brush Script MT', cursive; */
}

.titleScript {
  position: absolute;
  top: -50px;
  left: 5em;
  font-size: 50px;
  font-family: 'Brush Script MT', cursive;
}

.button {
  z-index: 1000000;
}
